*{
    font-family: 'Poppins';
}

a{
    color: white;
}

html{
    height: 100%;
}
header{
    width: 100%;
    display: flex;
    background-color: #09090B;
    justify-content: space-around;
    font-size: x-small;
    padding: 0.7rem;
  

}

.imagen{
    max-width: 110px;
    max-height: 25px;
    padding-bottom:  1em;
}

.imagen img{
    width: 100%;
    object-fit: contain;
  
    
}

.headerDiv2 form input {
    
        width: 100%;
        background-color: #09090B;
        border: 1px solid white;
}
.headerDiv2 form{
    padding-bottom: 1em;
}

.notUnderlineLinkDiv  {
        :not(:last-child){

            border-right: 1px solid white ;
            padding-right: 1em;
            padding-left: 1em;
        
        }
        :last-child{
            padding-right: 1em;
            padding-left: 1em;
        }
 
   
}

.profileDiv{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#imagenPerfil{
    width: 35px;
    height: 35px;
}

#imagenPerfil img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.carrito{
    height: 50px;
    display: flex ;
    align-items: center;
    justify-content: center;

}


    
