{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/styleLogin.css' %}">
</head>
<body>

    <div class="logInBody">
        <div>
            <div style="background-color: rgb(255, 221, 54); width: 1.2vw; height: 100vh;"> </div>
            <div>
                <img style="height: 100vh; width: 59vw;" src="{% static '/assets/img/kalsierAsset 1.png' %}" alt="">
            </div>
        </div>
        <div>
            <div class="loginUserImage">
                <img src="{% static '/assets/img/user_icon.png' %}" alt="">
            </div>
            <div>
                <p class="loginText1">Iniciar sesión</p>
            </div>
            <form action="/index/" method="post">
                {% csrf_token %}
                <div><input type="text" class="mi-textfield" id="emailLogin" placeholder="Email"></div>
                <div><input type="text" class="mi-textfield" id="passwordLogin" placeholder="Password"></div>
                <div style="padding-top: 5vh;"><button class="customButton" id="buttonLogin">Ingresar</button></div>
            </form>
                <div class="loginText2">¿No tienes cuenta?</div>
                <a href="signUp.html"><div class="loginText3">registrate aquí</div></a>
            </div>
    </div>
    <script src="{% static '/javaScript/login.js' %}"></script>

    <!--
        TODO: cambiar input por enlace con aspecto de boton
        https://www.freecodecamp.org/espanol/news/ejemplos-de-codigo-de-enlaces-de-botones-html-como-crear-hipervinculos-html-usando-el-atributo-href-en-las-etiquetas/
    -->

    <!-- <form>
        <input type="button" value="Ingresar">
    </form>
    <a href="signUp.html">Registrate aquí</a> -->
</body>
</html>
