<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cuenta</title>
    <link rel="stylesheet" href="css/styleLogin.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="logInBody">
        <div>
            <div style="background-color: rgb(255, 221, 54); width: 1.2vw; height: 100vh;"> </div>
            <div>
                <img style="height: 100vh; width: 49vw;" src="assets/img/kalsierAsset 1.png" alt="">
            </div>
        </div>
        <div>
                <div>
                    <p class="registerText1">Registro</p>
                </div>

                <div class="column">
    <div>
        <input type="text" class="mi-textfield" id="names" placeholder="Nombres">
    </div>
    <div>
        <input type="text" class="mi-textfield" id="lastnames" placeholder="Apellidos">
    </div>
</div>
<div class="column">
    <div>
        <input type="text" class="mi-textfield" id="email" placeholder="Email">
    </div>
    <div>
        <input type="text" class="mi-textfield" id="phoneNumber" placeholder="Numero">
    </div>
</div>
<div class="column">
    <div>
        <input type="text" class="mi-textfield" id="addres" placeholder="Direccion">
    </div>
    <div>
        <input type="text" class="mi-textfield" id="password" placeholder="Password">
    </div>
</div>
<div class="column">
    <div>
        <input style="visibility: hidden;" type="text" class="mi-textfield"  placeholder="Repetir password">
    </div>
    
    <div>
        <input type="text" class="mi-textfield" id="rPassword" placeholder="Repetir password">
    </div>
</div>

                <div style="padding-top: 5vh;"><button class="customButton" id="button">Registrate</button></div>
                <div class="loginText2">¿Ya tienes cuenta?</div>
                <a href="login.html"><div class="loginText3">inicia sesión</div></a>
            </div>
    </div>

    <script src="javaScript/signUp.js"></script>

    <!--
        TODO: cambiar input por enlace con aspecto de boton
        https://www.freecodecamp.org/espanol/news/ejemplos-de-codigo-de-enlaces-de-botones-html-como-crear-hipervinculos-html-usando-el-atributo-href-en-las-etiquetas/
    -->

    <!-- <form>
        <input type="button" value="Registrate">
    </form>
    <a href="login.html">Inicia sesión</a> -->
</body>
</html>